body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    background-color: #333;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #aaa;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 10px;
}
span {
    font-size: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border: 0.25vh solid black;
    background-color: #eee;
}
button {
    padding: 10px;
    background-color: #eee;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: #333 solid 2px;
    width: 50px;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px
}
.cookies {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    background-color: #aaa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
}
.cookies button {
    border-color: #2f2;
    width: 100%;
} 
#plusBtn {
    flex-grow: 3;
    border-color: #44f;
}
#minusBtn {
    flex-grow: 3;
    border-color: #f44; 
}
#resetBtn {
    flex-grow: 2;
    border-color: #333;
}
.hidden {
    display: none;
}